/* 代码整理：懒人之家 www.lanrenzhijia.com */
head {
	font-family:Verdana;
	font-size:16px;
	color:#000000;
}
headBack {
	font-family:Verdana;
	font-size:16px;
	color:#000000;
}
body {
	font-family:Verdana;
	font-size:14px;
	color:#ffffff
}
bodyBack {
	font-family:Verdana;
	font-size:14px;
	color:#ffffff
}
a {
	color:#990000;
	font-family:Verdana;
	font-size:30px;
}
bluetext {
	color:#000077;
}
